.FooterItems {
  display: flex;
  flex-direction: column;
}

.footerbottom {
  position: absolute;
  width: 100%;
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}
.footertop {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  background-image: url(https://img.freepik.com/premium-vector/imitation-geographical-map-black-lines-white-background-vector-design-banner_149326-3281.jpg);
  padding: 10px;
}
.emailp {
  justify-content: space-between;
}
.sign-up {
  background-color: #2b83cc;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 2px;
  font-weight: absolute;
  margin-right: 30px;
  border: 2px solid;
  cursor: pointer;
}

input,
textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #ffffff;
  color: black;
  margin-right: 0px;
}

.logo1 {
  color: black;
  justify-self: center;
  cursor: pointer;
}
